#panelPrincipal {
    -fx-background-color: #005A92;

}
#panelLateral {
    -fx-background-color: #00356B;
}

#busqueda {
    -fx-background-color: white;
    -fx-background-radius: 50;
}

#espacioBusqueda {
    -fx-background-color: transparent;
}

#textoBlanco {
    -fx-text-fill: white;
}

#itemsLateral {
    /*-fx-background-color: #005A92;*/
    -fx-background-radius: 50;
}

#cuenta {
    -fx-background-color: #00356B;
    -fx-background-radius: 20;
    -fx-effect: dropShadow(three-pass-box,rgba(80, 72, 76, 1), 3, 0, 0, 3);
}

#mainImage{
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-border-radius: 20;
}

#foto {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

#avengers {
     -fx-background-color: #00356B;
     -fx-background-radius: 20;
     -fx-effect: dropShadow(three-pass-box,rgba(80, 72, 76, 1), 5, 0, 5, 5);
}

#colorTransparente1, #colorTransparente2{
    -fx-background-color: rgba(0, 0, 0, 0);
}

#estiloTarjetas {
    -fx-background-color: #00356B;
    -fx-background-radius: 15;
    -fx-effect: dropShadow(three-pass-box,rgba(80, 72, 76, 1), 5, 5, 5, 5);
}